{% extends 'base.html' %}

{% block head %} 



{% endblock %}


{% block body %} 

<div class="Login"></div>
    <h1>Login</h1>
    <form action="/login", method="POST">
        <input type="email" id="email" name="email">
        <label for="email">Enter Email Address</label><br><br>
        <input type="password" id="password" name="password">
        <label for="password">Enter Password</label><br><br>
        <input type="submit" value="Submit">
        <a href="/register" class="sign_up_btn">Sign Up</a>
    </form>

{% endblock %}